body {
    background-color: #f5f5f5;
}

.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

:root {

    --color-title: #6c5c2c;

}

a {
    text-decoration: none;

}

.btn-custom {
    background-color: #6c5c2c;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #5a4b28;
}